---
layout: default
color:
  primary: "#f15a22"
  primary-text: "#fff"
---

{% assign flatpak_apps = site.apps | where:"dist","flatpak" | sort_natural: 'title' %}
<div class="home main constrain">
  <h1>{{ site.title }}</h1>
  <h2>{{ site.summary }}</h2>
  <p>Get these {{ flatpak_apps | size }} apps on Endless OS.</p>
</div>

<div class="home apps">
  {% for app in flatpak_apps %}
    {% unless app.app_id == "com.google.Chrome" %}
      <a class="app button {{ app.dist }}" href="{{ site.baseurl }}/{{ app.app_id }}" title="{{ app.summary }}" id="{{ app.app_id }}" tabindex="0">
        <img width="64" height="64"
          {% for icon in app.icons %}
            {% if icon[0] == "64@2" %}
              srcset="{{ icon[1] | prepend: site.baseurl }} 2x"
            {% elsif icon[0] == "128" %}
              srcset="{{ icon[1] | prepend: site.baseurl }}"
            {% elsif icon[0] == "64" %}
              srcset="{{ icon[1] | prepend: site.baseurl }}"
            {% endif %}
          {% endfor %}
          src="{{ site.baseurl }}/images/dotted-box-symbolic.svg"
        alt="{{ app.title }} icon" />

        <span class="title">{{ app.title }}</span>
        <span class="summary">{{ app.summary }}</span>
      </a>

      <style>
        .app[id="{{ app.app_id }}"]:hover,
        .app[id="{{ app.app_id }}"]:focus {
          background-color: {% if app.color.primary != "((color_primary))" %}{{app.color.primary}}{% else %}{{site.color.primary}}{% endif %};
          color: {% if app.color.primary-text != "((color_text))" %}{{app.color.primary-text}}{% else %}{{site.color.primary-text}}{% endif %};
        }
      </style>
    {% endunless %}
  {% endfor %}
</div>

<footer>
  <div class="constrain">
    <a class="button" href="https://endlessos.org/os" target="_blank">Get Endless OS</a>
    <a class="button" href="https://flathub.org/" target="_blank">More Apps from Flathub</a>
  </div>
</footer>
