---
layout: default
color:
  primary: "#f15a22"
  primary-text: "#fff"
---

{% assign apps = site.data.apps.components.component | sort_natural: 'name' %}
<div class="home main constrain">
  <h1>{{ site.title }}</h1>
  <h2>{{ site.summary }}</h2>
  <p>Get these {{ apps | size }} apps on Endless OS.</p>
</div>

<div class="home apps">
  {% for app in apps %}
    {% unless app.id == "com.google.Chrome.desktop" %}
      <a class="app button" href="{{ app.id | relative_url }}" title="{{ app.summary }}" id="{{ app.id }}" tabindex="0">
        {{ app.icon.size }}
        <img width="64" height="64"
          {% if app.icon and app.icon.size > 1 %}
            srcset="{{ '/images/icons/' | append: app.icon[0] | absolute_url }}"
          {% else %}
            srcset="{{ '/images/icons/' | append: app.icon | absolute_url }}"
          {% endif %}
          src="{{ '/images/dotted-box-symbolic.svg' | absolute_url }}"
        alt="{{ app.name }} icon" />

        <span class="title">{{ app.title }}</span>
        <span class="summary">{{ app.summary }}</span>
      </a>
    {% endunless %}
  {% endfor %}
</div>

<footer>
  <div class="constrain">
    <a class="button" href="https://endlessos.org/os" target="_blank">Get Endless OS</a>
    <a class="button" href="https://flathub.org/" target="_blank">More Apps from Flathub</a>
  </div>
</footer>

