---
layout: default
color:
  primary: "#f15a22"
  primary-text: "#fff"
---

{% assign flatpak_apps = site.apps | where:"dist","flatpak" | sort_natural: 'title' %}
<div class="home main constrain">
  <h1>{{ site.title }}</h1>
  <h2>{{ site.summary }}</h2>
  <p>Use your browser’s “Find” feature (i.e. <kbd>Ctrl</kbd><kbd>F</kbd> or <kbd>Cmd</kbd><kbd>F</kbd>) to search.</p>
  <h3>Jump to Language</h3>
  <nav class="lang">
    {% for lang in site.data.langs %}
      <a class="button" href="#{{ lang.code }}">{{ lang.description }}</a>
    {% endfor %}
  </nav>
</div>

{% for lang in site.data.langs %}
  <div class="home constrain wide">
    <h2 id="{{ lang.code }}">{{ lang.description }}</h2>
  </div>
  <div class="home apps constrain wide">
    {% for app in flatpak_apps %}
      {% assign id = app.app_id | split: "." %}
      {% if id[0] == "com" and id[1] == "endlessm" and id[3] == lang.code %}
        {% include app_button.html %}
      {% endif %}

      {% if lang.code == "en" %}
        {% unless app.app_id == "com.google.Chrome" %}
          {% unless id[0] == "com" and id[1] == "endlessm" and id[3] %}
            {% include app_button.html %}
          {% endunless %}
        {% endunless %}
      {% endif %}
    {% endfor %}
  </div>
{% endfor %}

<footer>
  <div class="constrain">
    <a class="button" href="https://endlessos.org/os" target="_blank">Get Endless OS</a>
    <a class="button" href="https://flathub.org/" target="_blank">More Apps from Flathub</a>
  </div>
</footer>

