.home {
  h1 {
    color: var(--accent);
    font-family: Raleway, $ui-font;
    font-size: 3em;
    font-weight: 900;
  }

  nav.lang {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.25em;
    // justify-content: center;
    margin-top: 1em;
  }

  &.apps {
    display: grid;
    grid-template-columns: repeat(auto-fill, 12em);
    justify-content: space-around;

    .app {
      border-radius: 2em;
      font-weight: normal;
      margin: 0.5em 0;
      padding: 2em 0.5em;
      text-align: left;
      vertical-align: top;

      &:hover,
      &:focus {
        background-image: linear-gradient(
          rgba(255, 255, 255, 0.125),
          rgba(255, 255, 255, 0)
        );
      }

      .icon {
        display: block;
        margin: 0 auto 0.5em;
      }

      .title {
        display: block;
        font-size: 1.5em;
        margin-bottom: 0.5em;
        text-align: center;
      }

      .summary {
        display: block;
        text-align: center;
        text-wrap: balance;
      }
    }
  }

  .action {
    text-align: center;
  }
}

