---
layout: default
---

<header>
  <div class="constrain">
    <img class="icon" width="64" height="64"
      srcset="{{ site.baseurl }}/images/icons/64x64/{{ page.app_id }}.png"
      src="{{ site.baseurl }}/images/dotted-box-symbolic.svg"
      alt="{{ page.title }} icon"
    />

    <h1>{{ page.title }}</h1>
    <a class="button suggested" href="appstream://{{ page.app_id }}">Open in App Center</a>
    {% if site.remote_url %}
    <a class="button" href="{{ site.remote_url }}/{{ page.app_id }}.flatpakref" download="{{ page.title }}.flatpakref">Download as Flatpak</a>
    {% endif %}
  </div>
</header>

<div class="main">

  {% include screenshots.html %}

  <section class="description constrain">
    <h2>{{ page.summary }}</h2>

    {{ content }}

  </section>
</div>

<footer>
  <div class="constrain">
    <a class="button go-home" href="{{ '/' | relative_url }}">← All Apps</a>
  </div>
</footer>
