---
layout: default
---

<header>
  <div class="constrain">
    <img class="icon" width="64" height="64"
      {% for icon in page.icons %}
        {% if icon[0] == "64@2" %}
          srcset="{{ icon[1] | prepend: site.baseurl }} 2x"
        {% elsif icon[0] == "128" %}
          srcset="{{ icon[1] | prepend: site.baseurl }}"
        {% elsif icon[0] == "64" %}
          srcset="{{ icon[1] | prepend: site.baseurl }}"
        {% endif %}
      {% endfor %}
      src="{{ site.baseurl }}/images/dotted-box-symbolic.svg"
    alt="{{ page.title }} icon" />

    <h1>{{ page.title }}</h1>
  </div>
</header>

<div class="main">

  {% include screenshots.html %}

  <section class="description constrain">
    <h2>{{ page.summary }}</h2>

    {{ content }}

  </section>
</div>

<footer>
  <div class="constrain">
    <a class="button go-home" href="{{ site.baseurl }}">← All Apps</a>
  </div>
</footer>
